.back{
  background-image: url(back.png);
  background-repeat: no-repeat;
  margin: auto;
  background-position: center;
}
.header{
  color: aliceblue;
}
.header2{
  color: ghostwhite;
}
.during-game{
  display: none;
}
.hint{
  color: bisque;
}
.board{
  width: 300px;
  height: 300px;
  table-layout: fixed;
  word-break: break-all;
  word-wrap: break-word;
  margin: 0 auto;
}

#board td{
  border: 1px solid;
  color: whitesmoke;
  width: 75px;
  height: 75px;;
}